/* Write your CSS code here */
.blogItem-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.description {
  color: #616e7c;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto';
}

.date {
  color: #9aa5b1;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto';
}
